$main-color:#20a0ff;

@mixin clearfix() {
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
.btn {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
    border: none;
    outline: none;
    margin: 0;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.btn-disable{
    background-color: #eee;
    border-color: #eee;
    color:black;
}
.mask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.5);
    position: fixed;
    overflow: auto;
    transition:opacity 3s ease-in ;
    opacity: 0;
}

.place-holder {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.panel {
    background: white;
    color: #333;
    position: fixed;
    min-width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    .close {
        position: absolute;
        padding: 1px 15px;
        right: 0;
        top: 0;
        font-size: 28px;
        color: gray;
        cursor: pointer;
    }
}

.image-list {
    padding: 10px;
    padding-right:0;
    box-sizing: border-box;
    overflow: auto;
    @include clearfix();
    flex:1;
}

.image-item {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    margin: 1px 1px 1px 0;
    vertical-align: top;
    &:hover {
    }

}
.image-item__img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.image-item__title{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.image-item__cover {
    height: 100%;
}
.image-item__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 44px;
    margin-top: -24px;
    margin-left: -22px;
}
.percent{
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    .percent-inner{
        height:4px;
        background: $main-color;
        width:0;
    }
}

.title{
    padding: 10px 15px;
    border:1px solid #eee;
    margin: 0;
    position: relative;
    cursor:move;
}
.bottom {
  padding: 10px 15px;
  border-top: 1px solid #eee;
  box-sizing: border-box;
    position: relative;
}
.save-btn{
    position: absolute;
    right:15px;
    top: 10px;
}
.panel-mask{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99;
}
.panel-dialog {
    background: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -120px;
    width: 240px;
    border-radius: 3px;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.3);
}
.panel-dialog-text{
    margin-top: 25px;
    margin-bottom: 25px;
}
.ok{
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 32px;
}


.btn-ios{
    color:darken($color: $main-color, $amount: 10);
    border-width: 0;
    border-top:1px solid #eee;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}
.x-dialog-show{
    position: absolute;
    top:0;
    display: block;
    .mask{
        opacity: 1;
    }
}
.x-dialog-hide{
    position: absolute;
    top:0;
    display: none;
}
.resizeHandler{
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    cursor: nwse-resize;
}
.resizeHandler_e,.resizeHandler_w{
    width: 10px;
    height: 90%;
    position: absolute;
    cursor: ew-resize;
}
.resizeHandler_w{
     right: -5px;
     top: 5%;
}

.resizeHandler_e{
    left: -5px;
    top: 5%;
}
.resizeHandler_n,.resizeHandler_s{
    height: 10px;
    width: 90%;
    position: absolute;
    cursor: ns-resize;
}
.resizeHandler_n{
    left: 5%;
    top: -5px;
}
.resizeHandler_s{
    left: 5%;
    bottom: -5px;
}


.param__list{
@include clearfix;

}
.param__item{
    color:#555;
    vertical-align: top;
    padding:10px;
    cursor: pointer;
    float:left;
}
.param__checkbox{
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 2px;
    vertical-align: top;
    /* margin-right: 5px; */
    margin-left: 5px;
    position: relative;
    top: 3px;

    img{
        width:100%;
        vertical-align: top;
        margin-top: 3px;
    }

}

