$main-color:#20a0ff;

@mixin clearfix() {
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
.btn {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
    border: none;
    outline: none;
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}
.btn-disable{
    background-color: #eee;
    border-color: #eee;
    color:black;
}


.mask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.place-holder {
    text-align: center;
    margin-top: 200px;
}

.panel {
    width: 750px;
    background: white;
    color: #333;
    margin: 100px auto 0 auto;
    position: relative;
    .close {
        position: absolute;
        padding: 1px 15px;
        right: 0;
        top: 0;
        font-size: 28px;
        color: gray;
        cursor: pointer;
    }
}

.image-list {
    height: 500px;
    overflow: auto;
    padding: 15px;
    padding-right:0;
    @include clearfix();
}

.image-item {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    margin: 1px 1px 1px 0;
    vertical-align: top;
    &:hover {
    }
    .title {
        background: rgba(0, 0, 0, 0.8);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 14px;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
    }
    .cover {
        height: 100%;
    }
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 44px;
        margin-top: -24px;
        margin-left: -22px;
    }
}
.percent{
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    .percent-inner{
        height:4px;
        background: $main-color;
        width:0;
    }
}

h3{
    padding: 10px 15px;
    border:1px solid #eee;
    margin: 0;
    position: relative;
}
.bottom {
    position: relative;
    padding: 10px 15px;
    border-top: 1px solid #eee;
}
.save-btn{
    position: absolute;
    right:15px;
    top: 10px;
}
.panel-mask{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.ok{
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 32px;
}

@media(max-width:1300px){
    .panel{
        margin-top:50px;
    }
}